<!-- Directives - ngFor -->
<ul>
  <li *ngFor="let person of people; let i = index">{{i + 1}} - {{person}}</li>
</ul>



<!-- Displaying an array with multiple objects -->
<ul *ngFor="let group of peopleByCountry">
  <li>{{group.country}}</li>
  <ul *ngFor="let people of group.names">
    <li>{{people.name}}</li>
  </ul>
</ul>


<!-- Another array with objects and uses trackBy Directive which
     is used to improve performance and speed -->
<div *ngIf="courses.length > 0">
<button (click)="onAdd()" >Add</button>
<ul>
  <li  *ngFor="let course of courses ; trackBy:trackByCourse">
    <button (click)="onRemove(course)">Remove</button>
    {{course.coursename}}
  </li>
</ul>
</div>
<div *ngIf="courses.length == 0">
  <h1>No Courses Yet</h1>
</div>



<!-- Using the ngIf direcive  with ng-template -->
<div *ngIf="courses.length > 0; then ExistingCourses else NonExistingCourses"></div>
<ng-template #ExistingCourses>
  <button (click)="onAdd()" >Add</button>
  <ul>
    <li  *ngFor="let course of courses ; trackBy:trackByCourse">
      <button (click)="onRemove(course)">Remove</button>
      {{course.coursename}}
    </li>
  </ul>
</ng-template>
<ng-template #NonExistingCourses>
    <h1>No Courses Yet</h1>
</ng-template>


<!-- Using hidden directive -->
<div [hidden]="courses.length == 0">
  <button (click)="onAdd()" >Add</button>
  <ul>
    <li  *ngFor="let course of courses ; trackBy:trackByCourse">
      <button (click)="onRemove(course)">Remove</button>
      {{course.coursename}}
    </li>
  </ul>
</div>

<div [hidden]="courses.length > 0">
  No Courses Yet
</div>
