
<!-- set a function that sends a variable and using this variable we decide what it does -->
<!-- and [class.active] is a type of binding that we used before called class binding in this we use
the active class in css to show the style(css) of the class when its in the active state. -->
<ul class="nav nav-pills">
  <li [class.active]="defaultView ==='Courses'">
    <a (click)="SetView('Courses')">Courses</a>
  </li>
  <li [class.active]="defaultView ==='Certifications'">
    <a (click)="SetView('Certifications')">Certifications</a>
  </li>
</ul>

<!-- we equalize ngSwitch with a variable inside the DOM that will be used to switch between the "tabs"
ngSwitchCase is used as the case that is recieved from the DOM -->

<!--
if ngSwitch = defaultView which equals ngSwitchCase = 'Courses' then
{
  display the following html:
  <div *ngSwitchCase="'Courses'">List of Courses</div>
}
else if ngSwitch = defaultView which equals ngSwitchCase = 'Certifications' then
{
  display the following html:
  <div *ngSwitchCase="'Certifications'">List of Certifications</div>

}
-->
<div [ngSwitch]="defaultView">
  <div *ngSwitchCase="'Courses'">List of Courses</div>
  <div *ngSwitchCase="'Certifications'">List of Certifications</div>
</div>
