
/* i used css to animate a div */
.css-animated{
  width:120px;
  height: 120px;
  background-color: red;
  animation-name: colorChange;
  animation-duration: 5s;
}
@keyframes colorChange{
  0%{ background-color: red; }
  25%{background-color: green;}
  50%{background-color: purple;}
  75%{background-color: blue;}
  100%{background-color: yellow;}

}
