
<!-- form is already counted as an ngForm, we only mention it in a template variable so that later
on we may use it if we want to disable a button or use information about the form -> used further on the
submit button -->
<form #form="ngForm">
  <h2>This form is used for template driven validation + ng2 validators</h2>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>

    <!-- ngModel is used for two way binding, we can also make the template variable equal the ngModel -->

    <!-- in the following ngIf condition we need to check the
    form control properties where we output in the
    console (Please check console) that if the tag form control
    property "touched" is true meaning the
    user touched the input tag (focused or pressed on it) and if the email is invalid
    (meaning it is not in email format - and this only works if we specified in tag "email")
     then it will
    display the message "this is required". -->

    <!-- can also add multiple specific conditions to check the exact problem of the input -->
    <input type="email" name="email" email
    ngModel #email="ngModel" (change)="logObj(email)"
    class="form-control"
    minlength="15"
    maxlength="20"
    pattern="raghad@gmail.com"
    aria-describedby="emailHelp" placeholder="Enter email">
    <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
      <div *ngIf="email.errors?.['minlength']">
        Min length is {{email.errors?.['minlength']?.['requiredLength']}}.
      </div>
      <div *ngIf="email.errors?.['required']">This is required.</div>
      <div *ngIf="email.errors?.['pattern']">This is wrong pattern.</div>
    </div>


    <!-- Custom validators  -> like url -->
    <!-- link to all of the library custom validators:
    https://www.npmjs.com/package/ng2-validation -->
    <input type="url" name="url" url
    ngModel #url="ngModel" (change)="logObj(url)"
    class="form-control"
    minlength="15"
    maxlength="20"
    aria-describedby="emailHelp" placeholder="Enter url">
    <div *ngIf="url.touched && url.invalid" class="alert alert-danger">
      <div *ngIf="url.errors?.['minlength']">
        Min length is {{url.errors?.['minlength']?.['requiredLength']}}.
      </div>
      <div *ngIf="url.errors?.['url']">This is not a url.</div>
    </div>

  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" [disabled]="form.invalid" class="btn btn-primary" (click)="Submit()">Submit</button>
</form>




<!-- reactive validators using typescript -
    all typescript code is custom made reactive
    validators and is used for the following HTML code -->
<form style="margin-top: 10em;" [formGroup]="myForm">
  <h2>This form is used for custom validator creation</h2>
  <div class="form-group">
    <label>Username</label>
    <input placeholder="Enter username" id="username" class="form-control"
    formControlName="username" #username>

    <div *ngIf="Username?.touched && Username?.invalid"
    class="alert alert-danger">
      Please Enter Your Username
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" formControlName="password" class="form-control" placeholder="Password">
  </div>

  <div class="form-group">
    <label>Phone</label>
    <input placeholder="Enter Phone" id="phone" class="form-control"
    formControlName="phone" #phone>

    <div *ngIf="Phone?.touched && Phone?.invalid">
      <div *ngIf="Phone?.errors?.['noSpaceAllowed']" class="alert alert-danger">
          No Spaces Allowed
      </div>
    </div>
  </div>

  <div class="form-group">
    <input type="text" #age id="age" formControlName="age"/>
    <p *ngIf="Age?.errors?.['range']">error message</p>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<form style="margin-top: 10em;" [formGroup]="myForm">
  <h2>This form is used for email validation</h2>
  <div class="form-group">
    <label>Email address</label>
    <input id="email" type="email" class="form-control"
    formControlName="email" (change)="CheckData(email)" placeholder="Enter Email">
    <div class="alert alert-danger" *ngIf="Email?.touched && Email?.invalid">
      <div *ngIf="Email?.errors?.['EmailExists']">
          Email Exists
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Submit</button>
</form>
