
<!-- This is how to change style using attribute binding -->
<button
[style.backgroundColor]="whatcolor? 'yellow' : 'gray'"
[style.color]="whatcolor? 'black' : 'red'"
[style.font-size]="whatcolor? '50px' : '20px'"
>
Click me
</button>

<!-- This is how to collide all style attribuites into one directive which is the ngStyle -->
<button [ngStyle]="{
  'backgroundColor': whatcolor? 'yellow' : 'gray' ,
  'color': whatcolor? 'red' : 'green',
  'font-size': whatcolor? '50px' : '20px'
}"
(click)="pressed()">
  Click me
</button>

<div>
  <input type="text" InputFormat>
</div>




