<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4">Shop</span>
    </a>

    <ul class="nav nav-pills">
      <!-- use ngbootstrap to make my dropdown menu funtional,
      here we can use ngbDropdown for the menu and ngbDropdownToggle for the toggle
      and ngbDropdownMenu for my menu (all these three will have to be used together
      to make a functional dropdown menu without any hassle or complications)-->
      <li ngbDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
        <!-- add "show" to the ul of the dropdown to show the dropdown li's -->
        <ul class="dropdown-menu" ngbDropdownMenu >
          <li><a class="dropdown-item" routerLink="/orders">My Orders</a></li>
          <li><a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a></li>
          <li><a class="dropdown-item" routerLink="/admin/products">Manage Products</a></li>
        </ul>
      </li>
      <li class="nav-item"><a routerLink="/cart" class="nav-link active" aria-current="page">Cart</a></li>

    </ul>
  </header>
</div>
