

<!-- Interpolation and one way binding using property binding  -->
<!-- ------------------------------------------------------- -->

<!-- <app-course></app-course>
<div>
  <ul *ngFor="let course of courses">
    <li>{{course}}</li>
  </ul>
</div> -->



<!-- passing variables and events using @input and @output -->
<!-- ----------------------------------------------------- -->

<!-- <app-course hidden [isActive]="isActive"></app-course>
***app-favorite has custom pipes***
<app-favorite [isfavorite]="favState" (change) = favChanged()></app-favorite>
<app-input [isActive]="isActive"></app-input> -->



<!-- ng-content or content projection, used to add onto existing html data in another component
 + ngif directive and hidden property + trackby method which is used to improve speed and performance
 + use of ng-template in the directive component -->
<!-- -------------------------------------------------------------------------------------- -->

<!-- <panel>
  <div class="heading"> this content is  inside the component that projects this data</div>
  <div class="body"> this content is inside the component that projects this bodys data</div>
</panel>
<directives></directives> -->


<!-- Switch case -->
<!-- ----------- -->
<!-- <switch></switch> -->


<!-- Using ngClass -->
<!-- ------------- -->
<!-- <favorite2></favorite2> -->

<!-- Using ngStyle + using custom directives -->
<!-- ----------------------- -->
<!-- <style-com></style-com> -->


<!-- Validations - validations can be split into two 1-template driven 2-reactive validation -->
<!-- <app-form></app-form> -->


<!-- Steam and RXJS -->
<!-- <rxjs></rxjs> -->

<!-- HTTP requests -->

<!-- <httprequests></httprequests> -->

<!-- Routing and build navigation bar -->
<!-- changed bootstrap version froom v3 therefore some of the last components like favorite and favorite2
will not work -->
<!-- use ngbootstrap to make my dropdown menu clickable and functional -->
<nav-bar></nav-bar>
<!-- <div class="container-fluid pb-3">
  <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
    <div class="bg-body-tertiary border rounded-3">
      <br><br><br><br><br><br><br><br><br><br>
    </div>
    <div class="bg-body-tertiary border rounded-3">
      <br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
</div> -->
