
<!-- Example on two way binding -->
<span class="glyphicon" style="font-size: 50px;"
[class.glyphicon-heart-empty]="isSelected"
[class.glyphicon-heart]="!isSelected" (click)="onFavoriteClick()">
</span>

<!-- PIPE -->
<div>
   <ul>
    <li>
        {{Employees.fullName | uppercase}}
    </li>
    <li>
        {{Employees.salary | currency:'$':true}}
    </li>
    <li>
        {{Employees.hireDate | date:'shortDate'}}
    </li>
   </ul>

</div>

<!-- CUSTOM PIPE -->
<div>
    {{title | summary : 20}}
</div>
